@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
html {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 22px;
  width: 100%;
  align-items: center;
  display: flex;
  margin: 0;
  justify-content: center;
  text-align: center;
}

.aside {
  left: 0;
  display: none;
  position: fixed;
  background-color: #efefef;
  width: 300px;
  height: 100%;
  z-index: 1;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.aside .asideTextos {
  font-size: 10px;
  display: flex;
  color: #33338D;
}

.burger {
  position: fixed;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin-top: 6%;
  margin-left: 70%;
  z-index: 2;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #33338D;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

form {
  z-index: 0;
  width: 80%;
}

h1 {
  background-color: #efefef;
  border-radius: 5%;
}

h2 {
  font-size: 30px;
}

h1, h2, h3, h4 {
  color: #33338D;
}

.fundo {
  background-color: #efefef;
  border-radius: 1%;
  padding: 10%;
  margin-bottom: 20%;
}

svg {
  margin-left: 45px;
}

h4 {
  font-size: 22px;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;
}

input[type=radio] {
  width: 24px;
  height: 24px;
}

input[type=text] {
  width: 90%;
  height: 24px;
  border: none;
  border-bottom: solid 1px;
}

input[type=text]::-moz-placeholder {
  font-size: 20px;
}

input[type=text]::placeholder {
  font-size: 20px;
}

input[type=text]:active {
  border: none;
}

input[type=number] {
  width: 90%;
  height: 24px;
  border: none;
  border-bottom: solid 1px;
}

input[type=number]::-moz-placeholder {
  font-size: 20px;
}

input[type=number]::placeholder {
  font-size: 20px;
}

input[type=date] {
  width: 40%;
  height: 24px;
}

.tabela, th, td {
  border-collapse: collapse; /*define a separação entre as bordas*/
  text-align: left;
  font-size: 18px;
}

.tabela1 {
  width: -moz-fit-content;
  width: fit-content;
}

button {
  width: 90px;
  height: 40px;
  border: none;
  background-color: #d7d5d5;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

button:active {
  color: rgb(0, 0, 255);
}

.human-body {
  width: 207px;
  position: relative;
  padding-top: 240px;
  height: 260px;
  display: block;
}

.human-body svg {
  margin-top: -140px;
  fill: #000;
}

.costasCorpo {
  display: none;
}

.frenteCorpo {
  display: block;
}

#area #data {
  color: black;
}

#respiratorio, #respiratorio1, #respiratorio2, #respiratorio3 {
  display: none;
}

#diabetes, #diabetes1, #diabetes2, #diabetes3 {
  display: none;
}

#cianose, #cianose1, #cianose2, #cianose3 {
  display: none;
}

#edema, #edema1, #edema2, #edema3 {
  display: none;
}

#hemorragia, #hemorragia1, #hemorragia2, #hemorragia3 {
  display: none;
}

#parada, #parada1, #parada2, #parada3 {
  display: none;
}

#pupilas, #pupilas1, #pupilas2, #pupilas3, #pupilas4, #pupilas5, #pupilas6, #pupilas7, #pupilas8, #pupilas9, #pupilas10, #pupilas11 {
  display: none;
}

#policia, #policia1, #policia2, #policia3, #policia4, #policia5, #policia6, #policia7 {
  display: none;
}

#samu, #samu1, #samu2, #samu3 {
  display: none;
}

#transporte, #transporte1, #transporte2, #transporte3, #transporte4, #transporte5, #transporte6, #transporte7, #transporte8, #transporte9, #transporte10, #transporte11, #transporte12 {
  display: none;
}

#acompanhante, #acompanhante1, #acompanhante2, #acompanhante3, #acompanhante4, #acompanhante5, #acompanhante6, #acompanhante7 {
  display: none;
}

#usocolar1 {
  display: none;
}

#oxigenioterapia {
  display: none;
}

#reanimador {
  display: none;
}

#parto, #parto1, #parto2, #parto3, #parto4, #parto5, #parto6 {
  display: none;
}

#aconteceuoutras1 {
  display: none;
}

#problemasaude1 {
  display: none;
}

#alergicocoisa1 {
  display: none;
}

#algumalimento1 {
  display: none;
}

#prenatal1 {
  display: none;
}

#primeirofilho1, #primeirofilho2 {
  display: none;
}

#atadura, #atadura1, #atadura2, #atadura3, #atadura4, #atadura5, #atadura6 {
  display: none;
}

#cateter {
  display: none;
}

#compressa {
  display: none;
}

#kit, #kit1, #kit2, #kit3, #kit4, #kit5, #kit6 {
  display: none;
}

#luva {
  display: none;
}

#mascara {
  display: none;
}

#base {
  display: none;
}

#colar, #colar1, #colar2, #colar3, #colar4, #colar5, #colar6, #colar7, #colar8, #colar9, #colar10, #colar11 {
  display: none;
}

#coxin {
  display: none;
}

#ked, #ked1, #ked2, #ked3, #ked4 {
  display: none;
}

#maca {
  display: none;
}

#ttf, #ttf1, #ttf2, #ttf3, #ttf4 {
  display: none;
}

#aranha {
  display: none;
}

#cabeca {
  display: none;
}

#canula {
  display: none;
}/*# sourceMappingURL=forms.css.map */