@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
a {
  color: #Ffffff;
}

body {
  margin: 0;
}

main {
  width: 1200px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.logo {
  position: absolute;
  top: -30px;
  right: 0px;
}

.filtros {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 38px;
}

.read_data {
  width: 65%;
  height: 30px;
  background: none;
  border: solid 0.5px rgba(0, 0, 0, 0.2588235294);
  border-radius: 5px;
  color: #000000;
}

.update_data {
  width: 190px;
  height: 30px;
  background: rgba(223, 222, 222, 0.3254901961);
  border: solid 0.5px rgba(0, 0, 0, 0.2588235294);
  border-radius: 10px;
}

.texto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
  height: 30px;
}

p {
  margin: 0;
  border: 0;
  cursor: pointer;
}

.left {
  margin-left: 115px;
}

.right {
  width: 50px;
  height: 50px;
}

.button-close {
  scale: 150%;
  margin: 0;
  border: 0;
  padding: 0;
  margin-top: 5px;
}

.input_name {
  height: 30px;
  width: 65%;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3254901961);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.input_cpf {
  height: 30px;
  width: 65%;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3254901961);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.input_email {
  height: 30px;
  width: 65%;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3254901961);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.input_telefone {
  height: 30px;
  width: 65%;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3254901961);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.input_adm {
  height: 30px;
  font-family: "Poppins", sans-serif;
  width: 70px;
  text-align: center;
}

.confirm {
  width: 150px;
  border-radius: 10px;
}

header {
  background: #33338D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75px;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
  color: #Ffffff;
}

.options {
  height: 36px;
}

form {
  height: 36px;
}

.button-redirect {
  background: transparent;
  border: 0;
  margin: 0;
  color: #Ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.button-open {
  background: transparent;
  border: 0;
  margin: 0;
  color: #Ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

h2 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #33338D;
  width: 500px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 57px;
  margin-right: 20px;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.tbform {
  color: #33338D;
}

table {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: auto;
  background: rgba(170, 168, 168, 0.3254901961);
  width: 1200px;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  table {
    width: 1050px;
  }
}
@media (max-width: 900px) {
  table {
    width: 750px;
  }
}
@media (max-width: 600px) {
  table {
    width: 450px;
  }
}
tr {
  border: 1px solid rgba(0, 0, 0, 0.3254901961);
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #33338D;
  justify-content: center;
  align-items: center;
}

td, th {
  border: 1px solid rgba(0, 0, 0, 0.3254901961);
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #33338D;
  justify-content: center;
  align-items: center;
  width: 480px;
}

tr:nth-child(even) {
  background-color: rgba(53, 51, 51, 0.3254901961);
}

.tbheader_name {
  height: 30px;
  width: 10%;
  text-align: center;
}

.tbheader_cpf {
  height: 30px;
  width: 30%;
  text-align: center;
}

.tbheader_type {
  height: 30px;
  width: 12%;
  text-align: center;
}

.tbheader_local {
  height: 30px;
  width: 317px;
  text-align: center;
}

.tbdata_opt {
  display: flex;
  width: 350px;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 0;
  height: 170px;
}

.buttons_opt {
  border-radius: 15px;
  width: 100px;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: #33338D;
  color: #Ffffff;
  text-decoration: none;
}

.buttons_opt:hover {
  text-decoration: none;
  color: #Ffffff;
}

a {
  cursor: pointer;
  color: #Ffffff;
}

.select {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 15px;
  border: rgba(0, 0, 0, 0.3254901961) solid 1px;
  border-radius: 5px;
}

.form-select {
  width: 80%;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2470588235);
  color: #495057;
  border-radius: 5px;
  margin-bottom: 3px;
}/*# sourceMappingURL=ocorrenciasadmSASS.css.map */