<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/noar_pequena.png">
    <title>NOAR</title>
</head>
<body>
    
<table>
    <tbody>
        {% for user in login %}
        <tr>
            <td>{{user.cpf_sos}}</td>
            <td>{{user.senha_sos}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>