<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/noar_pequena.png">
    <title>NOAR</title>
</head>
<body>
    {% block body %}
<h1>CRUD EM FLASK</h1>

    <h2>Lista de bombeiros <button type="button" data-toggle = "modal" data-target="#mymodal">Adicionar socorrista</button></h2>

    <table>

        <tr>
            <th>Nome</th>
            <th>CPF</th>
        </tr>

        <tr>

            <td>Caue </td>
            <td>125.413.329-12</td>

            <td>
                <a href="" data-toggle="modal" data-target="#modaledit">Edit</a>
                <a href="" onclick="return confirm('Você tem certeza?')">Deletar</a>
            </td>
        </tr>

    </table>

    

{% endblock %}
</body>
</html> 