<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mainpageCSS.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Página Inicial</title>
</head>




<body>  
{% block body %}

    <center>
        <main class="background">
         
            <div class="header">
                    <img class="logo" src="static/img/logo_pequena.png" style="scale: 40%"> 
        

                    <a class="user" onclick="Perfil();"><ion-icon name="person-circle-outline"></ion-icon></a>

                    <script>

                        function Perfil()
                        {
                            window.location.replace("/perfil")
                        }

                    </script>
            </div>

            <div class="estrutura">
                {% for row in dadosdavitima %}
                <div class="content">
                    <div class="left-ret"></div>
                    <!-- Texto em baixo da div ("left-ret") -->
                    &nbsp; {{row.3}} | {{row.6}}
                    

                    <div class="buttons-content">

                    <button onclick="Ver()" class="button-read">Visualizar</button>

                    <script>

                    function Ver()
                    {
                        window.location.replace("/ver1/{{row.0}}")
                    }

                    </script>

                    <button onclick="AlterarOc()" class="button-edit">Alterar</button>

                    <script>

                        function AlterarOc()
                        {
                            window.location.replace("/alterarOc/{{row.0}}")
                        }
    
                    </script>
                    </div>
                </div>
            {% endfor %}
            </div>


            <div class="gerenciar_ocorrencias" style="margin-top: 70px">

                <button onclick="Ocorrencias()" class="see_all">Ver todas as Ocorrências</button>
                
                <script>

                    function Ocorrencias()
                    {
                        window.location.replace("/ocorrencias")
                    }

                </script>

                <button onclick="NovaOcorrencia()" class="new_register_button">Registrar nova Ocorrência</button>

                <script>

                    function NovaOcorrencia()
                    {
                        window.location.replace("/AddOcorrencia")
                    }

                </script>

            </div>

        </main>

        
    </center>
{% endblock %}
</body>
</html>