<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOAR</title>
    <link rel="stylesheet" href="../static/ocorrenciasadmSASS.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {% block body %}
    <header class="header">
        <!-- Cabeçalho contendo as opções que o ADM poderá utilizar -->
        <section class="options">
            <form action="/alterarOc"><a onclick="Redirecionar()"><button class="button-open" id="open">Cadastrar novas ocorrências</button></a></form>
            <form action="/adm"><a onclick="RedirecionarADM()" class="button-redirect">Gerenciar Usuários</a></form>

            <script>
                
                function Redirecionar()
                {
                    window.location.replace("/alterarOc")
                }

                function RedirecionarADM()
                {
                    window.location.replace("/adm")
                }
                
            </script>

        </section>

        <section class="headerlogo">
            <!-- Logo da NOAR exibida na canto superior esquerdo da tela -->
            <img src="../static/img/logo_pequena.png" class="logo">
        </section>
        
        </header>
            <center>     
                <main>
                    <!-- Tabela de Usuários Cadastrados e botões de Ver, Alterar e Excluir-->
                        <table>
                            <h2>Ocorrências Registradas</h2>
                            <div class="filtros">
                                <input id="input-busca" style="height: 38px; width: 90%;" type="text" class="form-control mb-2" placeholder="O que você procura?" data-target="#filtros">

                    
                                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#filtroModal">
                                    Filtros
                                </button>
                                
                                <div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="filtroModal">Filtros</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <form action="/filtrosADM" method="POST">
                                            <div class="modal-body">
                                                <select class="form-select" name="form_select" id="form_select" aria-label="Default select example">
                                                    <option selected>Filtrar por:</option>
                                                    <option value="id_ocorrencia" name="a1" id="code_oc">Código da Ocorrência</option>
                                                    <option value="nome_vit" name="a2" id="victim_oc">Vítima da Ocorrência</option>
                                                    <option value="data_oco" name="a3" id="date_oc">Data da Ocorrência</option>
                                                    <option value="local_oco" name="a4" id="local_oc">Local da Ocorrência</option>
                                                    <option value="tipos_oco" name="a5" id_="type_oc">Tipo da Ocorrência</option>
                                                    <option value="sinais_oco" name="a6" id="signal_oc">Sinais e Sintomas</option>
                                                    <option value="problemas_oco" name="a7" id="problem_oc">Problemas Encontrados</option>
                                                    <option value="vitimas_oco" name="a8" id="victimwas_oc">Vítima Era</option>
                                                </select>

                                                <select class="form-select" name="sinais_oco" style="display: none;" id="form_select_signal">
                                                    <option selected>Filtrar por:</option>
                                                    <option value="abs_r_s" name="b1">Abdômen sensível ou rígido</option>
                                                    <option value="afundamento_cranio" name="b2">Afundamento de crânio</option>
                                                    <option value="agitacao" name="b3">Agitação</option>
                                                    <option value="amnesia" name="b4">Amnésia</option>
                                                    <option value="angina_peito" name="b5">Angina de peito</option>
                                                    <option value="apineia" name="b6">Apinéia</option>
                                                    <option value="bradicardia" name="b11">Bradicardia</option>
                                                    <option value="bradipneia" name="b12">Bradipnéia</option>x
                                                    <option value="bronco_aspirando" name="b13">Bronco-Aspirando</option>x
                                                    <option value="cefaleia" name="b14">Cefaléia</option>x
                                                    <option value="cianose" name="b15">Cianose</option>x
                                                    <option value="convulsao" name="b16">Convulsão</option>x
                                                    <option value="decorticao" name="b17">Decorticação</option>x
                                                    <option value="deformidade" name="b18">Deformidade</option>
                                                    <option value="descerebracao" name="b19">Descerebração</option>
                                                    <option value="desmaio" name="b20">Desmaio</option>
                                                    <option value="desvio_traqueia" name="b21">Desvio de traquéia</option>
                                                    <option value="dispneia" name="b22">Dispnéia</option>
                                                    <option value="dor_local" name="b23">Dor local</option>
                                                    <option value="edema" name="b24">Edema</option>
                                                    <option value="enfisema_subcutaneo" name="b25">Enfisema subcutâneo</option>
                                                    <option value="estase_jugular" name="b26">Êstase de jugular</option>
                                                    <option value="face_palida" name="b27">Face pálida</option>
                                                    <option value="hemorragia" name="b28">Hemorragia</option>
                                                    <option value="hipertensao" name="b29">Hipertensão</option>
                                                    <option value="hipotensao" name="b30">Hipotensão</option>
                                                    <option value="nausea_vomito" name="b31">Náuseas e Vômitos</option>
                                                    <option value="nasoragia" name="b32">Nasoragia</option>
                                                    <option value="obito" name="b33">Óbito</option>
                                                    <option value="otorreia" name="b34">Otorréia</option>
                                                    <option value="otorragia" name="b35">Otorragia</option>
                                                    <option value="ovace" name="b36">O.V.A.C.E</option>
                                                    <option value="parada" name="b37">Parada</option>
                                                    <option value="priaprismo" name="b38">Priaprismo</option>
                                                    <option value="prurido_pele" name="b39">Prurido na pele</option>
                                                    <option value="pupilas" name="b40">Pupilas</option>
                                                    <option value="sede" name="b41">Sede</option>
                                                    <option value="sinal_battle" name="b42">Sinal de battle</option>
                                                    <option value="sinal_guaxinim" name="b43">Sinal de guaxinim</option>
                                                    <option value="sudorese" name="b44">Sudorese</option>
                                                    <option value="taquipneia" name="b45">Taquipnéia</option>
                                                    <option value="taquicardia" name="b46">Taquicardia</option>
                                                    <option value="tontura" name="b47">Tontura</option>
                                                </select>

                                                <select class="form-select" style="display: none;" name="tipos_oco" id="form_select_type">
                                                    <option selected>Filtrar por:</option>
                                                    <option value="causado_animais" name="c1">Causado por animais</option>
                                                    <option value="com_transporte" name="c2">Com meio de Transporte</option>
                                                    <option value="deslizamento" name="c3">Desmoronamento</option>
                                                    <option value="emergencia_medica" name="c4">Emergência Médica</option>
                                                    <option value="queda_2m" name="c5">Queda de Altura 2M</option>
                                                    <option value="tentativa_suicidio" name="c6">Tentativa de Suicídio</option>
                                                    <option value="queda_propria_altura" name="c7">Queda própria altura</option>
                                                    <option value="afogamento" name="c8">Afogamento</option>
                                                    <option value="agressao" name="c9">Agressão</option>
                                                    <option value="atropelamento" name="c10">Atropelamento</option>
                                                    <option value="choque_eletrico" name="c11">Choque Elétrico</option>
                                                    <option value="desabamento" name="c12">Desabamento</option>
                                                    <option value="domestico" name="c13">Doméstico</option>
                                                    <option value="esportivo" name="c14">Esportivo</option>
                                                    <option value="intoxicacao" name="c15">Intoxicação</option>
                                                    <option value="queda_bicicleta" name="c16">Queda Bicicleta</option>
                                                    <option value="queda_moto" name="c17">Queda Moto</option>
                                                    <option value="queda_menos2" name="c18">Queda Nível <2M</option>
                                                    <option value="trabalho" name="c19">Trabalho</option>
                                                    <option value="transferencia" name="c20">Transferência</option>
                                                </select>

                                                <select class="form-select" style="display: none;" name="problemas_oco" id="form_select_problems">
                                                    <option selected>Filtrar por:</option>
                                                    <option value="respiratorio" name="d1">Respiratório</option>
                                                    <option value="diabetes" name="d2">Diabetes</option>
                                                    <option value="obstetrico" name="d3">Obstétrico</option>
                                                    <option value="parto_emergencial" name="d4">Parto Emergencial</option>
                                                    <option value="gestante" name="d5">Gestante</option>
                                                    <option value="hemo_excessiva" name="d6">Hemorragia Excessiva</option>
                                                    <option value="transporte" name="d7">Transporte</option>
                                                </select>

                                                <select class="form-select" name="vitimas_oco" style="display: none;" id="form_select_victimwas">
                                                    <option selected>Filtrar por:</option>
                                                    <option value="Ciclista" name="e1">Ciclista</option>
                                                    <option value="CondutorMoto" name="e2">Condutor de moto</option>
                                                    <option value="Gestante" name="e3">Gestante</option>
                                                    <option value="PasBanFrente" name="e4">Passegeiro do banco da Frente</option>
                                                    <option value="PasMoto" name="e5">Passegeiro Moto</option>
                                                    <option value="CondutorCarro" name="e6">Condutor do Carro</option>
                                                    <option value="Clinico" name="e7">Clínico</option>
                                                    <option value="Trauma" name="e8">Trauma</option>
                                                    <option value="PasBanTras" name="e9">Passeiro banco de trás</option>
                                                    <option value="Pedestre" name="e10">Pedestre</option>
                                                </select>

                                                <input type="text" id="filter_text" name="filter_text" class="form-control mt-3 mb-3" placeholder="Filtrar Por:">
                                            

                                            </div>
                                        
                                        <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Filtrar</button>
                                        </div>
                                    </form>
                                    </div>
                                    </div>
                                </div>
                            </div>

                    
                            <thead>
                                <tr>
                                    <th class="tbheader_name">Código</th>
                                    <th class="tbheader_cpf">Vítima</th>
                                    <th class="tbheader_type">Data</th>
                                    <th class="tbheader_local">Local</th>
                                    <th class="tbheader_options">Operações</th>
                                </tr>
                            </thead>
                            <tbody id="tabela-ocorrencias">
                                {% for row in dadosdavitima %}
                                
                                <tr class="tbrow_main">
                                    <td class="tbheader_name">{{row.0}}</td>
                                    <td class="tbheader_cpf">{{row.3}}</td>
                                    <td class="tbheader_type">{{row.2}}</td>
                                    <td class="tbheader_local">{{row.7}}</td>
                                    <td class="tbdata_opt">    
                                        <a href="/ver1/{{row.0}}" class="buttons_opt" id="read">Ver</a>
                                        <a href="/alterarOc/{{row.0}}" class="buttons_opt" id="alterar">Alterar</a>
                                        <a href="/deletarOc/{{row.0}}" class="buttons_opt" id="deletar" onclick="return confirm('Você tem certeza?')" style="text-decoration: none;">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                </main>
            </center>
        {% endblock %}
</body>
<script>
        const INPUT_BUSCA = document.getElementById('input-busca');
        const TABELA_OCORRENCIAS = document.getElementById('tabela-ocorrencias');

        INPUT_BUSCA.addEventListener('keyup', () => {
            let expressao = INPUT_BUSCA.value.toLowerCase();

            if (expressao.length === 1) {
                return;
            }

            let linhas = TABELA_OCORRENCIAS.getElementsByTagName('tr');

            for (let posicao in linhas) {
                if (true === isNaN(posicao)) {
                    continue;
                }

                let conteudoDaLinha = linhas[posicao].innerHTML.toLowerCase();

                if (true === conteudoDaLinha.includes(expressao)) {
                    linhas[posicao].style.display = '';
                } else {
                    linhas[posicao].style.display = 'none';
                }
            }
        });

        // Função para atualizar o placeholder do input com base na opção selecionada
document.getElementById('form_select').addEventListener('change', function() {
    var selectedOptionValue = this.value; // Obtém o valor da opção selecionada
    var inputPlaceholder = ''; // Inicializa a variável para o placeholder

    // Verifica o valor da opção selecionada e define o placeholder correspondente
    switch (selectedOptionValue) {
        case 'id_ocorrencia':
            inputPlaceholder = 'Filtrar por: Código da Ocorrência';
            document.getElementById("form_select_type").style.display = "none";
            document.getElementById("form_select_signal").style.display = "none";
            document.getElementById("form_select_problems").style.display = "none";
            document.getElementById("form_select_victimwas").style.display = "none";
            break;
        case 'nome_vit':
            inputPlaceholder = 'Filtrar por: Vítima da Ocorrência';
            document.getElementById("form_select_type").style.display = "none";
            document.getElementById("form_select_signal").style.display = "none";
            document.getElementById("form_select_problems").style.display = "none";
            document.getElementById("form_select_victimwas").style.display = "none";
            break;
        case 'data_oco':
            inputPlaceholder = 'Filtrar por: Data da Ocorrência';
            document.getElementById("form_select_type").style.display = "none";
            document.getElementById("form_select_signal").style.display = "none";
            document.getElementById("form_select_problems").style.display = "none";
            document.getElementById("form_select_victimwas").style.display = "none";
            break;
        case 'local':
            inputPlaceholder = 'Filtrar por: Local da Ocorrência';
            document.getElementById("form_select_type").style.display = "none";
            document.getElementById("form_select_signal").style.display = "none";
            document.getElementById("form_select_problems").style.display = "none";
            document.getElementById("form_select_victimwas").style.display = "none";
            break;
        case 'tipos_oco':
            inputPlaceholder = 'Filtrar por: Tipo da Ocorrência';
            document.getElementById("form_select_type").style.display = "flex";
            document.getElementById("form_select_signal").style.display = "none";
            document.getElementById("form_select_problems").style.display = "none";
            document.getElementById("form_select_victimwas").style.display = "none";
            break;
        case 'sinais_oco':
            inputPlaceholder = 'Filtrar por: Sinais e Sintomas';
            document.getElementById("form_select_signal").style.display = "flex";
            document.getElementById("form_select_type").style.display = "none";
            document.getElementById("form_select_problems").style.display = "none";
            document.getElementById("form_select_victimwas").style.display = "none";
            break;
        case 'problemas_oco':
            inputPlaceholder = 'Filtrar por: Problemas Encontrados';
            document.getElementById("form_select_problems").style.display = "flex";
            document.getElementById("form_select_type").style.display = "none";
            document.getElementById("form_select_signal").style.display = "none";
            document.getElementById("form_select_victimwas").style.display = "none";
            break;
        case 'vitimas_oco':
            inputPlaceholder = 'Filtrar por: Vítima Era';
            document.getElementById("form_select_victimwas").style.display = "flex";
            document.getElementById("form_select_type").style.display = "none";
            document.getElementById("form_select_signal").style.display = "none";
            document.getElementById("form_select_problems").style.display = "none";
            break;   
        default:
            inputPlaceholder = 'Filtrar Por: ';
    }

    // Atualiza o placeholder do input
    document.getElementById('filter_text').setAttribute('placeholder', inputPlaceholder);
});
</script>
</html>
 