<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocorrências</title>
    <link rel="stylesheet" href="../static/ocorrencias.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<center class="header">
    <a href="/adm" class="seta"><img src="../static/img/seta.png" style="scale: 10%;"></a>
    <img class="logo" src="static/img/logo_pequena.png" style="scale: 35%"> 
</center>
<body>  
    <center>
            <main class="estrutura">
                <div class="wrap">
                    <div class="search">
                       <input type="text" class="searchTerm" placeholder="Pesquisar Ocorrências">
                       <button type="submit" class="searchButton">
                        <ion-icon class="search-icon" name="search-outline"></ion-icon>
                      </button>
                    </div>
                 </div>

                <div class="content">
                    <div class="left-ret"></div>
                </div> 
                <div class="content">
                    <div class="left-ret"></div>
                </div> 
                <div class="content">
                    <div class="left-ret"></div>
                </div> 
                <div class="content">
                    <div class="left-ret"></div>
                </div> 
                <div class="content">
                    <div class="left-ret"></div>
                </div> 
                <div class="content">
                    <div class="left-ret"></div>
                </div> 
                
              </main>
    </center>
</body>
</html>