@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$primaria: #33338D;
$secundaria: #Ffffff;
$preto: #00000053;

body {
  margin: 0;
}
main
{
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.background_blur
{
  background: #a29e9e82;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  border: 1px solid rgba(162, 158, 158, 0.3);
  height: 100vh;
  display: flex;
  position: absolute;
}
.float_menu_adduser
{
  background: $secundaria;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 200px;
  right: 600px;
  border-radius: 15px;
  box-shadow: 0px 7px 7px 0px $preto;
  display: none;
}
.inputs
{
  width: 450px;
  height: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.texto
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
  height: 30px;
}
p
{
  margin: 0;
  border: 0;
  cursor: pointer;
}
.left
{
  margin-left: 115px;
}
.right 
{
  width: 50px;
  height: 50px;
}
.button-close
{
  scale: 150%;
  margin: 0;
  border: 0;
  padding: 0;
  margin-top: 5px;
}
.input_name
{
  height: 30px;
  width: 190px;
  font-size: 18px;
  border: 1px solid $preto;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.input_cpf
{
  height: 30px;
  width: 190px;
  font-size: 18px;
  border: 1px solid $preto;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.input_email
{
  height: 30px;
  width: 190px;
  font-size: 18px;
  border: 1px solid $preto;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.input_telefone
{
  height: 30px;
  width: 190px;
  font-size: 18px;
  border: 1px solid $preto;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.input_adm
{
  height: 30px;
  font-family: 'Poppins', sans-serif;
  width: 70px;
  text-align: center;
}
.confirm
{
  width: 150px;
  border-radius: 10px;
}
header {
  background: $primaria;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
  align-content: center;  
}
.options
{
  height: 36px;
}
form
{
  height: 36px;
}
button {
  background: $primaria;
  border: 0;
  margin: 0;
  color: $secundaria;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: $primaria;
  width: 250px;
  margin-top: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 57px;
  margin-right: 20px;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: #aaa8a853;
  width: 1200px;
  height: 600px;
  text-align: left;
}

td, th {
  border: 1px solid $preto;
  text-align: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: $primaria;
  height: 30px;
}

tr:nth-child(even) {
  background-color: #35333353;
}
.tbheader_name
{
  height: 0px;
  width: 250px;
  text-align: center;
}
.tbheader_cpf
{
  height: 0px;
  width: 250px;
  text-align: center;
}
.tbheader_options
{
  height: 0;
  width: 504px;
  text-align: center;
}
.tbdata_options
{ 
  display: flex;
  flex-direction: row;
  border: 0;
  justify-content: space-around;
  align-items: center;
}
.buttons_opt
{
  margin-top: 15px;
  border-radius: 15px;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: $primaria;
}